@import './src/module/stooges-variables';
@import './src/scss/project-variables';
@import './src/module/stooges-mixin';
@import './src/scss/project-mixin';
@import './src/module/stooges-basscss';
@import './src/scss/project-basscss';

@mixin bg{
        background-repeat: repeat;
        background-size: cover;
        background-position: center;
}

@mixin card{
        background: rgba(255, 255, 255, 0.97);
        border-radius:10px;
}
@mixin imgBox{
        position: absolute; 
        left: 0; 
        top: 0; 
        width: 100%; 
        height: 100%; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;  
        border-radius: 10px;
}
    .coffee{
        background-image: url(./images/coffeeBg.jpg);
        @include bg;
    }
    .sweet{
        background-image: url(./images/sweetBg.jpg);
        @include bg;
    }
    .vanilla{
        background-image: url(./images/vanillaBg.jpg);
        @include bg;
    }
    .tea{
        background-image: url(./images/teaBg.jpg);
        @include bg;
    }
    .savory{
        background-image: url(./images/savoryBg.jpg);
        @include bg;
    }
    .application{
        background-image: url(./images/applicationBg.jpg);
        @include bg;
    }
    .service{
        background-image: url(./images/serviceBg.jpg);
        @include bg;
        .mainTitle{
            width: 60%;
            .h1{
                line-height: 1.2;
            }
            .h3{
                font-size: 20px;
                line-height: 1.5;
            }
        }

        .cover-desc{
            padding: 100px 100px 80px;
            display: block;
        }

        .theArea{
            .images{
                background-image: url(./images/slide2.jpg);
                
            }
            
        }
        
    }
    .nutrition{
        background-image: url(./images/nutritionBg.jpg);
        @include bg;
        
        .mainTitle{
            .h1{
                font-size:68px;
            }
            .h3{
                font-size: 24px;
            }
        }
        
        .theArea{
            .images{
                background-image: url(./images/nutrition1.jpg);
                border-radius: 10px;
            }
            
        }
    }
    .quality{
        background-image: url(./images/qualityBg.jpg);
        @include bg;

        
        .theArea{
            .images{
                background-image: url(./images/quality1.jpg); 
            }
            
        }
    }
    .article{
        background-image: url(./images/articleBg.jpg);
        @include bg;

        .applicationCard{
            .cover-desc{
                padding: 60px 10px;
            }
        }

    }
    .contact{
        background-image: url(./images/contactBg.jpg);
        @include bg;
    }
    .about{
        background-image: url(./images/aboutBg.jpg);
        @include bg;

        .mainTitle{
            width: 65%;
            
        }
    }
    
    
.mainTitle{
    padding: 200px 0 150px;
    width: 70%;
    .h1{
        font-family: $font-family-2;
        font-size: 68px;
        color:white;
        margin-bottom: 10px;
    }
    .h3{
        font-size: 28px;
        font-family: $font-family-1;
        color:white;
        line-height: 1.5;
        font-weight: 400;
        
    }
    p{
        display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    }
    
}


.card{
    @include card;
    padding: 60px 10px; 
    width: 100%;
    .card-desc{
       padding: 0 20px;
       margin:0 auto;
       max-width: 880px;
       margin-bottom: 30px;
       
        p{
            color: $font-color-2;
            font-family: $font-family-1;
            letter-spacing: normal;
            font-weight: 400;
             margin: 0 0 24px;
             line-height: 1.8;
        }
        b{
            color: $color-main;
        }
        .h3{
            color: $color-main;
            font-family: $font-family-2;
        }
        .h2{
            font-size: 18px;
            font-family: $font-family-2;
            color: black;
        }
    }
}


.inlineImage{
    margin-top: 60px;
    width: 100%;
    .p1{
        padding: 8px;
    }
    img{
        width: 100%;
        border-radius: 5px;
    }
}

.flex-wrap {
    flex-wrap: wrap;
}
.flex {
    display: flex;
}

.otherImage{
    margin-top: 100px;
    text-align: center;
    padding: 60px 0;
    .h1{
        color: $font-color-1;
        font-size: 48px;
        margin-bottom: 20px;
        font-family: $font-color-2;
    }
    .other4Image{
        
        
        .image-scale{
            position: relative;
            width: 100%;
            padding: 8px;
            overflow: hidden;
            
            img{
                width: 100%;
                border-radius: 5px;
                display: block;
                transition: 1.5s;
                &:hover{
                    transform: scale(1.2);
                }
            }
            p{
                position: absolute;
                bottom: 0;
                left: 0;
                margin-bottom: 0;
                width: 100%;
                padding: 5px 10px;
                text-align: center;
                color: white;
                background: rgba(0,0,0,0.6);
                text-transform: capitalize;
               
            }
        }   
    }
        
}

.theArea{
    position: relative;
    display: block;
    .images{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(./images/slide1.jpg);
        border-radius: 10px;
    }
    
}

.applicationCard{
    @include card;
    width: 100%;
    padding: 0;
    .card-desc{
       padding: 0 20px;
       margin:0 auto;
       margin-bottom: 30px;
       
        p{
            color: $font-color-1;
            font-family: $font-family-1;
            letter-spacing: normal;
            font-weight: 400;
             margin: 0 0 24px;
             line-height: 1.5;
        }
        b{
            color: $color-main;
        }
        .h3{
            color: $color-main;
            font-family: $font-family-2;
        }
        .h2{
            font-size: 18px;
            font-family: $font-family-2;
            color: black;
        }
        .h4{
            font-size: 16px;
            font-weight: 400;
            color: #54565B;
            line-height: 24px;
            letter-spacing: 1;
            margin: 0 0 14px;
            font-family: $font-family-2
        }
        
    }
    .cover-desc{
        padding: 100px 100px 90px;
        display: block;
        address{
            font-style: normal;
        }
        ul{
            li{
                margin-bottom: 10px ;
            }
        }
        .h1{
            color: $font-color-2;
            text-align: center;
            font-family: $font-family-2;
            line-height: 1.8;
        }
        .companyName{
            margin-bottom: 5px;
            font-family: $font-family-2;
            
            span{
                font-size: 13px;
            }
        }
        a{
            font-family: $font-family-3;
            color: $font-color-1;
            display: block;
            &:hover{
                color: $color-main;
            }
        }
        .address{
            line-height: 1.2;
        }
        .mt1{
            margin-top: 8px;
        }
        
    }
    .word{
        
        p{
            font-weight: 400;
            color: #54565B;
            line-height: 1.5;
            letter-spacing: normal;
            margin: 0 0 24px;
            margin-bottom: 10px;

            .tel{  
                    font-family: $font-color-2 ;
                    color: $color-main;
                    display: inline;
                
            }
        }
        ul{
            padding-left: 15px;
            color: $font-color-2;
            li{
                margin-bottom: 5px;
            }
        }

    }
}

@media (max-width: 1024px){
    .mainTitle{
        width: 100%;
        .h1{
            font-size: 38px;
            margin-bottom: 10px;
        }
        .h3{
            font-size: 18px;
        }
    }
    .cover-desc{
        padding: 100px 20px 90px !important;
        display: block;
        
        p{
            font-size: 14px;
        }
        .h3{
            font-size: 28px;
        }
        
    }
    
}


.stepper {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    max-width: 860px;
    margin: auto;
    position: relative;

    .step {
        position: relative;
        display: flex;
        margin: 5px;
        align-items: center;
        text-align: center;
        justify-content: center;
        font-size: 14px;
        width: 82px;
        height: 82px;
        border: 2px solid #cfd0d3;
        border-radius: 50%;
        background: white;
        cursor: pointer;
        transition: .3s ease-in;
    }
    .active{
        color:$color-main;
        border-color:$color-main;
    }
}
.show{
    display: block;
    animation: anim-stepper 1s ease 0.2s 1 normal both running;
}
.none{
    display: none;
}
.form{
    background: url(./images/form.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    padding: 100px 20px 90px;
    .px1{
        padding-left: 8px;
        padding-right: 8px;
    }
    .h3{
        font-size: 28px;
        font-weight: 400px;
        line-height: 28px;
        margin: 0 0 14px;
        color: white;
    }
    input , textarea{
        width: 100%;
        background: rgba(255,255,255,0.65);
        border: 1px solid #222222;
        color: #000;
        height: 45px;
        margin-bottom: 5px;
        outline: none;
        padding: 0 20px;
    }
    label{
        width: 100%;
        background: rgba(255,255,255,0.65);
        border: 1px solid #222222;
        color: #54565B;
        font-size: 13px;
        height: 45px;
        margin-bottom: 5px;
        outline: none;
        padding: 11px 20px;
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        overflow: hidden;
    }
    svg{
        width: 18px;
        height: 18px;
        vertical-align: middle;
        fill: currentColor;
        margin-top: -0.25em;
        margin-right: 0.25em;
    }
    .ta1{
        height: 90px;
        font-family: $font-family-3;
    }
    .ta2{
        height: 140px;
        font-family: $font-family-3;
    }
    .btnPri{
        outline: none;
        background: transparent;
        cursor: pointer;
        border: none;
        height: 45px;
        font-family: $font-family-2;
        font-weight: 700;
        letter-spacing: 1px;
        text-align: center;
        transition: .3s;
        background:$color-main;
        color: white;
        width: 100%;

        &:hover{
            color: $color-main;
            background-color: white;
            border-color: $color-main;
            border: 2px solid;
        }
    }
}



