@import './src/module/stooges-variables';
@import './src/scss/project-variables';
@import './src/module/stooges-mixin';
@import './src/scss/project-mixin';
@import './src/module/stooges-basscss';
@import './src/scss/project-basscss';

@mixin bg{
        background-repeat: repeat;
        background-size: cover;
        background-position: center;
}

@mixin card{
        background: white;
        border-radius:10px;
}
@mixin imgBox{
        position: absolute; 
        left: 0; 
        top: 0; 
        width: 100%; 
        height: 100%; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;  
        border-radius: 10px;
}
    .coffee{
        background-image: url(./images/coffeeBg.jpg);
        @include bg;
    }
    .sweet{
        background-image: url(./images/sweetBg.jpg);
        @include bg;
    }
    .vanilla{
        background-image: url(./images/vanillaBg.jpg);
        @include bg;
    }
    .tea{
        background-image: url(./images/teaBg.jpg);
        @include bg;
    }
    .savory{
        background-image: url(./images/savoryBg.jpg);
        @include bg;
    }
    .application{
        background-image: url(./images/applicationBg.jpg);
        @include bg;
    }
    .service{
        background-image: url(./images/serviceBg.jpg);
        @include bg;
    }
    .nutrition{
        background-image: url(./images/nutritionBg.jpg);
        @include bg;
    }
    .quality{
        background-image: url(./images/qualityBg.jpg);
        @include bg;
    }
    .article{
        background-image: url(./images/articleBg.jpg);
        @include bg;
    }
    .contact{
        background-image: url(./images/contactBg.jpg);
        @include bg;
    }
    
    
.mainTitle{
    padding: 200px 0 150px;
    .h1{
        font-family: $font-family-2;
        font-size: 68px;
        color:white;
    }
    .h3{
        font-size: 28px;
        font-family: $font-family-1;
        color:white;
        line-height: 1.5;
        font-weight: 400;
    }
}


.card{
    @include card;
    padding: 60px 10px; 
    width: 100%;
    .card-desc{
       padding: 0 20px;
       margin:0 auto;
       max-width: 900px;
       margin-bottom: 30px;
       
        p{
            color: $font-color-2;
            font-family: $font-family-1;
            letter-spacing: normal;
            font-weight: 400;
             margin: 0 0 24px;
             line-height: 1.8;
        }
        b{
            color: $color-main;
        }
        .h3{
            color: $color-main;
            font-family: $font-family-2;
        }
    }
}


.inlineImage{
    margin-top: 60px;
    width: 100%;
    .p1{
        padding: 8px;
    }
    img{
        width: 100%;
        border-radius: 5px;
    }
}

.flex-wrap {
    flex-wrap: wrap;
}
.flex {
    display: flex;
}

.otherImage{
    margin-top: 100px;
    text-align: center;
    padding: 60px 0;
    .h1{
        color: $font-color-1;
        font-size: 48px;
        margin-bottom: 20px;
        font-family: $font-color-2;
    }
    .other4Image{
        
        
        .image-scale{
            position: relative;
            width: 100%;
            padding: 8px;
            overflow: hidden;
            
            img{
                width: 100%;
                border-radius: 5px;
                display: block;
                transition: 1.5s;
                &:hover{
                    transform: scale(1.2);
                }
            }
            p{
                position: absolute;
                bottom: 0;
                left: 0;
                margin-bottom: 0;
                width: 100%;
                padding: 5px 10px;
                text-align: center;
                color: white;
                background: rgba(0,0,0,0.6);
                text-transform: capitalize;
               
            }
        }   
    }
        
}

.theArea{
    position: relative;
    display: block;
    .images{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(./images/slide1.jpg);
    }
    
}

.applicationCard{
    @include card;
    width: 100%;
    .card-desc{
       padding: 0 20px;
       margin:0 auto;
       margin-bottom: 30px;
       
        p{
            color: $font-color-2;
            font-family: $font-family-1;
            letter-spacing: normal;
            font-weight: 400;
             margin: 0 0 24px;
             line-height: 1.5;
        }
        b{
            color: $color-main;
        }
        .h3{
            color: $color-main;
            font-family: $font-family-2;
        }
    }
    .cover-desc{
        padding: 100px 100px 90px;
        display: block;
    }
    
}

@media (max-width: 1024px){
    .mainTitle{
        width: 100%;
        .h1{
            font-size: 28px;
        }
        .h3{
            font-size: 18px;
        }
    }
    .cover-desc{
        padding: 100px 20px 90px !important;
        display: block;
        
        p{
            font-size: 14px;
        }
        .h3{
            font-size: 28px;
        }
    }
    
}



