@import '../module/stooges-variables';
@import '../module/stooges-mixin';
@import './project-variables.scss';

%fixedBackground{
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    &:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(0,0,0,0.42);
    }
}
%section{
    padding:60px 0;
}
%media{
    @media #{$breakpoint-down-sm}{
        .h1{
            font-size: 38px;
            margin-bottom: 10px;
        }
    }
}

%form{
    input,
    textarea {
        font-family: $font-family-3;
        width: 100%;
        background: rgba(255,255,255, 0.65);
        border: 1px solid #222222;
        color: #000;
        height: 45px;
        margin-bottom: 5px;
        outline: none;
        padding: 0 20px;
    }

    textarea {
        padding-top: 15px;
        display:block;
        &:nth-of-type(1){
            height: 95px;
        }
        &:nth-of-type(2){
            height: 145px;
        }
    }

    .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;

        &+label {
            font-family: $font-family-3;
            width: 100%;
            background: rgba(255,255,255, 0.65);
            border: 1px solid #222222;
            color: $font-color-1;
            font-size: 13px;
            height: 45px;
            margin-bottom: 5px;
            outline: none;
            padding: 11px 20px;
            display: block;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;
            overflow: hidden;
        }
    }

    .inputfile+label svg {
        width: 18px;
        height: 18px;
        vertical-align: middle;
        fill: currentColor;
        margin-top: -0.25em;
        margin-right: 0.25em;
    }
}
%fullScreenVideo{
    width:100%;
    height:100vh;
    position: relative;
    margin-top:-90px;
    overflow: hidden;
    video{
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom:0;
        min-width: 100%; 
        min-height: 100%;
        object-fit: cover;
    }
    .content{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        padding:10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color:white;
        text-align: center;
        text-shadow: 2px 2px 0 rgba(0,0,0,0.6);
        .h1{
            margin-top: 50px;
            font-family: $font-family-2;
        }
        .line{
            width:200px;
            height:3px;
            background-color:white;
            margin-bottom: 15px;
            box-shadow: 1px 1px 0 rgba(0,0,0,0.6);
        }
        .h3{
            line-height: 1.4;
        }
    }
    @extend %media;
    @media #{$breakpoint-down-sm}{
        .content{
            .h3{
                font-size: 18px;
            }
        }
    }
}
%threeByTwoContentWithBackground{
    @extend %section;
    .h1{
        text-align: center;
        color:white;
        font-family: $font-family-2;
        margin-bottom: 50px;
    }
    a{
        &.image-scale-45by25:before {
            padding-top: calc(25/45 * 100%);
        }
        &:hover{
            img{
                transform: scale(1.2);
            }
            .title{
                background: rgba(black, 0.8);
            }
        }
        img{
            width:100%;
            transition: 1s ease-in;
        }
        .title{
            position: absolute;
            bottom: 0;
            left: 0;
            margin-bottom: 0;
            width: 100%;
            padding:5px 10px;
            text-align: center;
            color:white;
            transition: .3s ease-in;
            background: rgba(black, 0.6);
            text-transform: capitalize;
        }
    }
    @extend %media;
}
%sevenThereContent{
    @extend %media;
    .sevenThreeBackgroundImage{
        position: relative;
        .sevenBackground,
        .threeBackground{
            position: absolute;
            height: 100%;
            background-size: cover; 
            background-repeat:no-repeat; 
            background-position: center;
        }
        .sevenBackground{
            width:70%;
            left: 0;
        }
        .threeBackground{
            width:30%;
            right: 0;
        }
        .container{
            padding-top:300px;
            padding-bottom:100px;
            .h1{
                font-family: $font-family-2;
            }
            .description{
                color:$font-color-1;
            }
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                width:250px;
            }
        }
        @media #{$breakpoint-down-sm}{
            .threeBackground{
                &:after{
                    content:'';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width:100%;
                    height: 100%;
                    background:rgba(white, 0.9);
                }
            }
            .container{
                padding-top:200px;
            }
        }
    }
}
%transparentBigTitle{
    padding: 200px 0 150px;
    color:white;
    .content{ 
        max-width: 800px;
        .h1{
            font-family: $font-family-2;
        }
        .h3{
            line-height: 1.5;
        }
    }
    @extend %media;
    @media #{$breakpoint-down-sm}{
        .content{
            .h3{
                font-size: 18px;
            }
        }
    }
}
%shadowCard{
    background:rgba(white, 0.97);
    padding: 60px 10px;
    border-radius: 10px;
}
%centerContent{
    max-width: 880px;
    padding: 0 20px;
    margin: 0 auto;
    margin-bottom: 30px;
    p{
        color:$font-color-2;
        line-height: 1.8;
        b{
            color:$color-main;
        }
    }
    @media #{$breakpoint-down-sm}{
        font-size: 14px;
    }
}
%fourInlineImage{
    margin-top:60px;
    img{
        border-radius: 5px;
    }
}
%otherFlavour{
    @extend %threeByTwoContentWithBackground;
    margin-top:100px;
    .h1{
        color:$font-color-1;
        font-size: 48px;
        margin-bottom: 20px;
    }
}
%halfWordHalfImageCarousel{
    .word{
        padding:100px 100px 90px;
        .h3{
            font-weight: 700;
            font-family: $font-family-2;
            color:$color-main;
        }
    }
    .imageCarousel{
        position: relative;
        cursor: -webkit-grab;
        .owl-carousel{
            position: absolute;
            left: 0;
            right:0;
            width:100%;
            height:100%;
            position: relative;
            .owl-stage-outer{
                height:100%;
                .owl-stage{
                    height:100%;
                    .owl-item{
                        position: relative;
                        height:100%;
                        .image{
                            width: 100%;
                            height: 100%;
                            background: center center no-repeat;
                            background-size: cover;
                        }
                    }
                }
            }
        }
    }
    @media #{$breakpoint-down-md}{
        .word{
            padding:100px 20px 90px;
            p:not(.h3){
                font-size: 14px;
            }
        }
    }
    @media #{$breakpoint-down-sm}{
        .imageCarousel{
            height:500px;
        }
    }
}
%halfWordHalfImage{
    .word{
        padding:100px 100px 90px;
        .h3{
            font-weight: 700;
            font-family: $font-family-2;
            color:$color-main;
        }
    }
    .imageArea{
        position: relative;
        .image{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: center center no-repeat;
            background-size: cover;
        }
    }
    @media #{$breakpoint-down-md}{
        .word{
            padding:100px 20px 90px;
            p:not(.h3){
                font-size: 14px;
            }
        }
    }
    @media #{$breakpoint-down-sm}{
        .imageArea{
            height:200px;
        }
    }
}
%halfMapHalfCompanyInfo{
    .mapArea{
        background: grey;
        position: relative;
        #googleMap{
            position: absolute;
            top:0;
            left: 0;
            width:100%;
            height: 100%;
        }
    }
    .companyInfo{
        padding:100px 100px 90px;
        font-family: $font-family-3;
        address{
            font-style: normal;
            .companyName{
                margin-bottom: 5px;
                font-family: $font-family-2;
                span{
                    font-size: 13px;
                }
            }
            a{
                display: block;
                color:$font-color-1;

                &.address{
                    line-height: 1.2;
                }
                &:hover{
                    color:$color-main;
                }
            }
        }
    }
    @media #{$breakpoint-down-md}{
        .companyInfo{
            padding:100px 20px 90px;
        }
    }
    @media #{$breakpoint-down-sm}{
        .mapArea{
            height: 300px;
        }
    }
}
%halfFormHalfWord{
    .word{
        padding:100px 100px 90px;
        p{
            margin-bottom: 10px;
        }
        ul{
            padding-left: 16px;
            li{
                margin-bottom: 5px;
                color:$font-color-2;
            }
        }
    }
    .form{
        padding:100px 20px 90px;
        background: url(../../src/images/contact/formBg.jpg) no-repeat center;
        background-size: cover;
        position: relative;
        &:before{
            content:'';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(black, 0.2);
        }

        .title{
            position: relative;
            font-family: $font-family-2;
            color:white;
        }
        form{
            @extend %form;
            position: relative;
            input,
            textarea,
            label{
                background:rgba(white, 80%) !important;
            }
        }
    }
    @media #{$breakpoint-down-md}{
        .word{
            padding:100px 20px 90px;
        }
    }
    @media #{$breakpoint-down-sm}{
        .word{
            order:2;
        }
        .form{
            order:1;
        }
    }
}
%oneImageThreeContent{
    padding:60px 60px 40px;
    border-bottom: 1px solid $font-color-4;
    &:last-child{
        border:none;
    }
    .imageArea{
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            &:hover{
                img{
                    opacity: 0.8;
                }
            }
            img{
                opacity: 1;
                transition: .3s ease-in;
            }
        }
    }
    .content{
        .date{
            font-size: 14px;
            margin-bottom: 0;
            color:$font-color-2;
        }
        .title{
            font-family: $font-family-2;
            display: block;
        }
        .summary{
            @include ellipsis(3,1.5,16px);
            color:$font-color-2;
        }
    }
    @media #{$breakpoint-down-sm}{
        padding:60px 20px 40px;
        .title{
            font-size: 28px;
            line-height: 1.2;
        }
    }
    @media #{$breakpoint-only-xs}{
        padding:60px 0 40px;
    }
}


